#waseem{
    background-color: black;
    padding: 50px;
    margin: 20px;
}
.h1{
    color: white;
    text-align: center;
    font-size: 80px;
}
#waqas2{
    margin: 10px;
}
.waseem3{
    background-color: brown;
    text-align: center;
    padding: 10px;
}